<%- include('partials/Header') %>
<%- include('partials/NavBar') %>

<div class="container my-4">
    <h2 class="text-center mb-4">Create Your Profile</h2>

    <form action="/users/<%= UserId %>/profile/create" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text" class="form-control" id="name" name="name">
        </div>

        <div class="form-group">
            <label for="gender">Gender</label>
            <select class="form-control" id="gender" name="gender">
                <option value="" disabled selected>Select your gender</option>
                <option value="Male">Male</option>
                <option value="Female">Female</option>
            </select>
        </div>

        <div class="form-group">
            <label for="bio">Bio</label>
            <textarea class="form-control" id="bio" name="bio" rows="3" maxlength="50" placeholder="Tell us about yourself..."></textarea>
        </div>

        <div class="form-group">
            <label for="group">Group</label>
            <input type="text" class="form-control" id="group" name="group">
        </div>

        <div class="form-group">
            <label for="profilePicture">Profile Picture</label>
            <input type="file" class="form-control-file" id="profilePicture" name="profilePicture">
        </div>

        <button type="submit" class="btn btn-info btn-custom mt-3">Create Profile</button>
    </form>
</div>

<%- include('partials/Footer') %>
