<%- include('partials/header') %>

<div class="container-full-height">
    <div class="text-center">
        <img src="/images/logo.png" alt="WeBubble Logo" class="logo img-fluid">
        <div>
            <a href="/login" class="btn btn-info btn-custom">Login</a><br>
            <a href="/users/create" class="btn btn-light btn-custom">Create Account</a>
        </div>
    </div>
</div>

<%- include('partials/footer') %>
